.chartrow {
    width: 100%;
    padding: 0;
    margin: 0;
}

#chartbox {
    display: inline-block;
    position: relative;
    width: 90%;
    height: 900px;
    vertical-align: top;
    overflow: hidden;
}

#holder {
    width: 90%;
    height: 700px;
    margin: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.oArc:hover {
    fill: #f859a5;
}

.oArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.x.axis path {
    display: none;
}

#legend {
    width: 500px;
    height: 125px;
    margin: 0 auto;
}

circle {
    padding-left: 5%;
}

#legend .tick line {
    fill: none;
    stroke: none;
}

#legend path {
    display: none;
}

.legText {
    font-size: 12px;
    transform: rotate(85deg);
}

.tooltip {
    background-color: #fff;
}

#footer {
    margin: 0;
}
